@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* footer */
#subscribe {
    background-color: #2B2B2B !important;
    color: white;
}

#subscribe .col-lg-2 {
    padding: 80px 20px 40px 20px;
}

#subscribe .col-lg-2 a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

a:visited,
a:link,
a:active,
a:hover {
    color: white;
}

.ending {
    padding: 50px 0;
}

.ending span {
    padding: 0 10px;
}

/* footer */

/* before footer */
.sub {
    background: #69686d !important;
    color: white;
}

.newsl {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
}

.inp {
    padding: 20px;
}

.inp input,
i {
    float: left;
}

.inp input {
    padding: 20px;
    width: 380px;
    height: 72px;
    border-radius: 5px;
    -webkit-appearance: none;
    margin: 0;
}

.fa-hand {
    position: absolute;
    right: 47%;
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    color: white;
    height: 50px;
    width: 50px;
    top: 30%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.newsl p {
    display: inline;
    margin-left: 80% !important;
}

/* before footer ended */
.graycard .col-lg-4 {
    background: #FFFFFF;
    /* Effect-1 */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.graycard {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    /* Primary color/#828089 */
    color: #828089;
}

.info {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    align-self: flex-start;
    text-align: left;
    /* Primary color/#2B2B2B */
    color: #2B2B2B;
}

/* latest */
.latest {
    padding: 40px 0;
}

.latest p,
.title1 p {
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 39.0625px;
    line-height: 59px;
}

/* clients */
.fa-quote-right {
    width: 50px;
    /* Dark/#18191A */
    color: black;
    font-size: 30px;
    transform: rotate(-180deg);
    padding: 40px;
}

.fa-quote-right+p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
}

.fa-quote-right+p+p {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    text-align: center;
    /* Primary color/#2B2B2B */
    color: #2B2B2B;
}

.fa-quote-right+p+p+p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19px;
    /* identical to box height, or 150% */
    text-align: center;
    /* Primary color/#828089 */
    color: #828089;
}

/* clients ended */
/* view product */
#checkout .col-lg-3>div {
    background: #FFFFFF;
    /* Effect-1 */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 270px !important;
    height: 304px !important;
}

#checout .col-lg-3 img {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(screenshot-themeforest.net-2021.03.png);
    border-radius: 5px;
}

#checkout .col-lg-3 img+p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    /* Primary color/#2B2B2B */
    color: #2B2B2B;
}

#checkout .col-lg-3 img {
    width: 250px;
    height: 167px;
}

#checkout .col-lg-3 img+p+p {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height, or 150% */
    display: flex;
    justify-content: space-between;
    /* Primary color/#2B2B2B */
    color: #2B2B2B;
}

#checkout .col-lg-3 img+p+p span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    /* Primary color/#828089 */
    color: #828089;
}

#checkout>div {
    margin-top: 130px;
}

/* button view all */
button {
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    border-radius: 5px;
    color: white;
    width: 145px;
    height: 43px;
    border: none;
    text-transform: capitalize;
    margin: 40px 0 !important;
}

/* radio btns */
/* #checkout>div>div:nth-child(2) {
    display: flex;
    align-items: center;
    width: 1170px;
    height: 80px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
} */

.tab-s {
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    border-radius: 5px;
    color: white;
}

.tab {
    width: 161px;
    height: 50px;
}

#checkout .container {
    padding: 0 !important;
}

#checkout .col-lg-2 .tab {
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkout #named {
    font-weight: 700;
    font-size: 39.0625px;
    line-height: 59px;
    /* identical to box height, or 150% */
    /* Primary color/#2B2B2B */
    color: #2B2B2B;
}

#checkout .checkout-mini {
    padding: 10px;
}

#products {
    background: #F4F4F4;
}

#products .col-lg-4>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    /* Effect-1 */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 360px !important;
    height: 400px !important;
    padding: 15px;
}

#products .col-lg-4 img {
    width: 340px !important;
    height: 248px !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(screenshot-themeforest.net-2021.03.png);
    border-radius: 5px;
    margin-bottom: 20px;
}

#products .col-lg-4 img+p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    overflow-y: hidden;
    color: #2B2B2B;
}

#products .col-lg-4 img+p+p {
    font-weight: 600;
    overflow-y: hidden;
    font-size: 31.25px;
    line-height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* identical to box height, or 150% */
    /* Primary color/#2B2B2B */
    color: #2B2B2B;
}

#products .col-lg-4 img+p+p span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    /* Primary color/#828089 */
    color: #828089;
}

.featured {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 39.0625px;
    line-height: 59px;
    /* identical to box height, or 150% */
    /* Primary color/#2B2B2B */
    color: #2B2B2B;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 30px;
}

/* button:last-of-type {
    margin-bottom: 130px !important;
} */

.cardmini i+p {
    overflow: hidden;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    overflow-x: hidden;
}

.cardmini i {
    font-size: 50px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.fa-file {
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    padding-left: 20px;
}

.cardmini i+p+p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    overflow: hidden !important;
}

.cardmini {
    overflow-x: hidden;
    padding: 20px;
}

.cardmini {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 270px;
    height: 298px;
    /* Gradient/Linear */
    /* Effect-1 */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.sel {
    color: white;
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
}

.sel i {
    color: white;
}

#cards {
    margin-bottom: 130px !important;
}

#cards>div>div:nth-child(1)>div {
    padding: 20px;
    font-weight: 700;
    font-size: 39.0625px;
    line-height: 59px;
    /* identical to box height, or 150% */
    /* Primary color/#2B2B2B */
    color: #2B2B2B;
}

.nav-link {
    width: 271px;
    height: 50px;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Gradient/Linear */

    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    border-radius: 5px;
}

.grid {
    display: flex !important;
    justify-content: space-around;
}

.logoo {

    width: 50px;
    height: 50px;
    color: white;
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    border-radius: 5px;
}

.signing {
    width: 137px;
    height: 50px;
}

.logoo span {
    position: absolute;
    bottom: 20px;
}

#introduction {
    margin-top: 40px;
}

.circle {
    position: absolute;
    left: 55%;
    top: -10%;
    z-index: -1;
    width: 805px;
    height: 810px;
    border-radius: 50%;
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    transform: rotate(-180deg)
}

.navi {
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-outline {
    height: 60px !important;

}

.firssearch {
    height: 60px;
    margin: 0 !important;

}

h1 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 48.83px !important;
    line-height: 73px !important;
    /* or 150% */


    /* Primary color/#2B2B2B */

    color: #2B2B2B;
}
#header > div > div > div:nth-child(1) > div:nth-child(2) > div > p{
    font-weight: 600;
font-size: 20px;
line-height: 30px;
color: gray;}
.choices{
    gap: 50px;
}
#introduction > div.container{
    margin-bottom: 130px;
}
#search-button{
    color: white;
    height: 60px;
    width: 100px;
}
#search-input{
    height: 60px;
    width: 300px;
}
#cards{
    margin-top: 130px !important;
}
input[type=radio] {
    display:none; 
    margin:10px;
}
input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    background-color: #e7e7e7;
    border-color: #ddd;
}
input[type=radio]:checked + label { 
   background-image: none;
   background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
}