@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.cirlce {
    position: absolute;
    z-index: -2;
    top: -200px;
    width: 805px;
    height: 810px;
    border-radius: 50%;
    left: 60%;
    /* Gradient/Linear */
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
}

ul li {
    display: none;
}

.dropdown:hover ul li {
    display: block;
}

.dropdown {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    border-radius: 5px;
    color: white;
}

.map {
    background: #FFFFFF;
    /* Effect-1 */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    height: 100px;
}

/* footer */
#subscribe {
    background-color: #2B2B2B !important;
    color: white;
}

#subscribe .col-lg-2 {
    padding: 80px 20px 40px 20px;

}

#subscribe .col-lg-2 a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

a:visited,
a:link,
a:active,
a:hover {
    color: white;
}

.ending {
    padding: 50px 0;
}

.ending span {
    padding: 0 10px;
}

/* footer */

/* before footer */
.sub {
    background: #69686d !important;
    color: white;
}

.newsl {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
}

.inp {
    padding: 20px;
}

.inp input,
i {
    float: left;
}

.inp input {
    padding: 20px;
    width: 380px;
    height: 72px;
    border-radius: 5px;
    -webkit-appearance: none;
    margin: 0;
}

.fa-hand {
    position: absolute;
    right: 47%;
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    color: white;
    height: 50px;
    width: 50px;
    top: 30%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.newsl p {
    display: inline;
    margin-left: 80% !important;
}

/* before footer ended */
.graycard .col-lg-4 {
    background: #FFFFFF;
    /* Effect-1 */

    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.graycard {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Primary color/#828089 */

    color: #828089;
}

.info {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    align-self: flex-start;
    text-align: left;
    /* Primary color/#2B2B2B */

    color: #2B2B2B;
}

/* latest */
.latest {
    padding: 40px 0
}

.latest p,
.title1 p {
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 39.0625px;
    line-height: 59px;
}

/* clients */
.fa-quote-right {
    width: 50px;
    /* Dark/#18191A */
    color: black;
    font-size: 30px;
    transform: rotate(-180deg);
    padding: 40px;
}

.fa-quote-right+p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;
}

.fa-quote-right+p+p {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: center;

    /* Primary color/#2B2B2B */

    color: #2B2B2B;

}

.fa-quote-right+p+p+p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19px;
    /* identical to box height, or 150% */

    text-align: center;

    /* Primary color/#828089 */

    color: #828089;
}

/* clients ended */
/* view product */
#checkout .col-lg-3>div {
    background: #FFFFFF;
    /* Effect-1 */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 270px !important;
    height: 304px !important;
}

#checout .col-lg-3 img {

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(screenshot-themeforest.net-2021.03.png);
    border-radius: 5px;

}

#checkout .col-lg-3 img+p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Primary color/#2B2B2B */

    color: #2B2B2B;
}

#checkout .col-lg-3 img {
    width: 250px;
    height: 167px;
}

#checkout .col-lg-3 img+p+p {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height, or 150% */
    display: flex;
    justify-content: space-between;

    /* Primary color/#2B2B2B */

    color: #2B2B2B;
}

#checkout .col-lg-3 img+p+p span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Primary color/#828089 */

    color: #828089;
}

#checkout>div {
    margin-top: 130px;
}

/* button view all */
button {
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    border-radius: 5px;
    color: white;
    width: 145px;
    height: 43px;
    border: none;
    text-transform: capitalize;
    margin: 40px 0 !important;
}

/* radio btns */
#checkout>div>div:nth-child(2) {
    display: flex;
    align-items: center;
    width: 1170px;
    height: 80px;
    
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#checkout>div>div:nth-child(2)>div.col-lg-2 {
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    border-radius: 5px;
}

#checkout #named {
    font-weight: 700;
    font-size: 39.0625px;
    line-height: 59px;
    /* identical to box height, or 150% */


    /* Primary color/#2B2B2B */

    color: #2B2B2B;
}

#products {
    background: #F4F4F4;
}

#products .col-lg-4>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    /* Effect-1 */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 360px !important;
    height: 400px !important;
    padding: 15px;

}

#products .col-lg-4 img {
    width: 340px !important;
    height: 248px !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(screenshot-themeforest.net-2021.03.png);
    border-radius: 5px;
    margin-bottom: 20px;
}

#products .col-lg-4 img+p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    overflow-y: hidden;
    color: #2B2B2B;

}

#products .col-lg-4 img+p+p {
    font-weight: 600;
    overflow-y: hidden;
    font-size: 31.25px;
    line-height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* identical to box height, or 150% */


    /* Primary color/#2B2B2B */

    color: #2B2B2B;


}

#products .col-lg-4 img+p+p span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Primary color/#828089 */

    color: #828089;
}

.featured {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 39.0625px;
    line-height: 59px;
    /* identical to box height, or 150% */


    /* Primary color/#2B2B2B */

    color: #2B2B2B;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 30px;
}

button:last-of-type {
    margin-bottom: 130px !important;
}

.cardmini div img+p {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* Primary color/#FFFFFF */



}

.cardmini img {
    padding: 10px;
}

.cardmini div+img+p+p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    /* Primary color/#FFFFFF */

    color: #FFFFFF;
}

.cardmini {
    padding: 0 !important;
}

.cardmini div {
    padding: 20px;

    width: 270px;
    height: 298px;
    /* Gradient/Linear */
    /* Effect-1 */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.cardmini:first-of-type div {
    color: white;
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);

}

#cards {
    margin-bottom: 130px !important;
}

#cards>div>div:nth-child(1)>div {
    padding: 20px;
    font-weight: 700;
    font-size: 39.0625px;
    line-height: 59px;
    /* identical to box height, or 150% */


    /* Primary color/#2B2B2B */

    color: #2B2B2B;
}

#intro img:nth-child(1) {
    width: 100px;
    position: absolute;
    left: 120px;
}

#intro img:nth-child(2) {
    width: 150px;
    position: absolute;
    left: 300px;
}

#intro img:nth-child(3) {
    width: 150px;
    left: 100px;
    top: 120px;
}

#intro img:nth-child(4) {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 70%;
    z-index: 2;
}

#intro img:nth-child(5) {
    width: 150px;

}

#intro .ab {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48.83px;
    line-height: 73px;
    /* or 150% */


    /* Primary color/#2B2B2B */

    color: #2B2B2B;
}

#lin {
    background-color: #f3ec78;
    background-image: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%) !important;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

#intro>div>div>div:nth-child(1)>div:nth-child(2)>div {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 30px !important;
}

#intro>div>div {
    margin-top: 130px;
}


.icons .signin {
    width: 137px;
    height: 50px;
    left: 1003px;
    top: 174px;

    /* Gradient/Linear */

    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    border-radius: 5px;
}

#bar>div>div>div.col-lg-6.d-flex.flex-row.icons>div.col-lg-6>div {
    width: 137px;
    height: 50px;
    color: white;
    /* Gradient/Linear */

    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bar>div>div>div.col-lg-6.d-flex.flex-row.icons>div:nth-child(2)>div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;


    /* Gradient/Linear */

    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    border-radius: 5px;
}

#bar>div>div>div.col-lg-6.d-flex.flex-row.icons>div:nth-child(1)>div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    /* Gradient/Linear */

    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    border-radius: 5px;
    color: white;
}

.search {
    color: white;
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    border-radius: 5px;
    width: 101px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}
#intro input {
    width: 400px;
    height: 60px;
    left: 0px;
    top: 671px;

    /* Primary color/#FFFFFF */

    background: #FFFFFF;
    /* Effect-1 */

    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.forsearch{
    display: flex;
    
}
.search p{
    margin: 0;
}
.giris{
    margin-bottom: 260px;
}